@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

.whale-floating {
    animation: float 6s ease-in-out infinite;
    transform-origin: center;
    z-index: 10;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: auto;
    animation: wave 10s ease-in-out infinite;
    z-index: 5;
}
